<p id="notice"><%= notice %></p>

<div class="row">
    <div class="span2 ">

<%= image_tag @company.photo.url(:medium) %>
</div>

 <div class="span4 ">
<h4>
  <%= @company.name %>
</h4>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Commune:</b>
  <%= @company.commune %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>


<p>
  <b>Website:</b>
  <%= @company.website %>
</p>


<p>
  <b>Description:</b>
  <%= @company.description %>
</p>




<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
</div>
</div>